<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" 
                xmlns="http://xmlns.jcp.org/xml/ns/javaee"
                xmlns:javaee="http://java.sun.com/xml/ns/javaee" 
                xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                      xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
 	
 	
 	<filter>
	    <filter-name>UrlRewriteFilter</filter-name>
	    <filter-class>org.tuckey.web.filters.urlrewrite.UrlRewriteFilter</filter-class>
	</filter>
	<filter-mapping>
	    <filter-name>UrlRewriteFilter</filter-name>
	    <url-pattern>/*</url-pattern>
	    <dispatcher>REQUEST</dispatcher>
	    <dispatcher>FORWARD</dispatcher>
	</filter-mapping>
 	
 	<servlet>
		<servlet-name>InitializerServlet</servlet-name>
		<servlet-class>de.mpg.mpdl.doxi.pidcache.InitializerServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	
	<!-- 
 	<servlet>
	    <servlet-name>jersey-servlet-doi</servlet-name>
	    <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
	    <init-param>
	        <param-name>javax.ws.rs.Application</param-name>
	        <param-value>de.mpg.mpdl.doxi.doi.rest.JerseyApplicationConfig</param-value>
	    </init-param>
	    <init-param>
	    	<param-name>swagger.scanner.id</param-name>
	    	<param-value>doi</param-value>
	    </init-param>
	    <init-param>
	    	<param-name>swagger.config.id</param-name>
	    	<param-value>doi</param-value>
	    </init-param>
	    <init-param>
	    	<param-name>swagger.context.id</param-name>
	    	<param-value>doi</param-value>
	    </init-param>
	    <init-param>
	    	<param-name>swagger.api.basepath</param-name>
	    	<param-value>/doxi/rest/pid</param-value>
	    </init-param>
	    <load-on-startup>2</load-on-startup>

    </servlet>

    <servlet-mapping>
        <servlet-name>jersey-servlet-doi</servlet-name>
        <url-pattern>/rest/doi/*</url-pattern>
    </servlet-mapping>
	
	 <servlet>
	    <servlet-name>jersey-servlet-pid</servlet-name>
	    <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
	    <init-param>
	        <param-name>javax.ws.rs.Application</param-name>
	        <param-value>de.mpg.mpdl.doxi.pidcache.rest.JerseyApplicationConfigPid</param-value>
	    </init-param>
	    
	    <init-param>
	    	<param-name>swagger.scanner.id</param-name>
	    	<param-value>pid</param-value>
	    </init-param>
	    <init-param>
	    	<param-name>swagger.config.id</param-name>
	    	<param-value>pid</param-value>
	    </init-param>
	    <init-param>
	    	<param-name>swagger.context.id</param-name>
	    	<param-value>pid</param-value>
	    </init-param>
	    <init-param>
	    	<param-name>swagger.api.basepath</param-name>
	    	<param-value>/doxi/rest/pid</param-value>
	    </init-param>
	    <load-on-startup>3</load-on-startup>
	</servlet>
 	
 	 <servlet-mapping>
	        <servlet-name>jersey-servlet-pid</servlet-name>
	        <url-pattern>/rest/pid/*</url-pattern>
	 </servlet-mapping>
 	
-->

	<listener>
		<listener-class>
             de.mpg.mpdl.doxi.util.EMF
        </listener-class>
	</listener>	
	
</web-app>
