<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:security="http://www.springframework.org/schema/security"
xmlns:tx="http://www.springframework.org/schema/tx"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns:context="http://www.springframework.org/schema/context"
xsi:schemaLocation="http://www.springframework.org/schema/beans
		  http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
		  http://www.springframework.org/schema/security
		  http://www.springframework.org/schema/security/spring-security.xsd
		  http://www.springframework.org/schema/tx
		  http://www.springframework.org/schema/tx/spring-tx.xsd
		  http://www.springframework.org/schema/context
		  http://www.springframework.org/schema/context/spring-context-4.0.xsd">
	
	<context:component-scan base-package="de.mpg.mpdl.doi" />
	<context:annotation-config/>
	
	
	<security:global-method-security pre-post-annotations="enabled" />
	
	<security:http>
		<security:http-basic />
		
		
		<security:intercept-url pattern="/**" access="hasRole('USER')" />
	<!-- 
		<security:intercept-url pattern="/admin*" access="hasRole('ADMIN')" />
		 -->
		
		
		<security:csrf disabled="true"/>
	</security:http>
	


<!-- 
	<bean id="methodSecuriytService" class="de.mpg.mpdl.doi.controller.DataciteAPIController"/>
	-->
	<security:authentication-manager>
		<security:authentication-provider user-service-ref="doxiJdbcUserService">
			
			<!-- 
			<security:jdbc-user-service data-source-ref="dataSource"/>
			-->
			 <!-- 
			<security:user-service>
			  <security:user name="user" password="password" authorities="ROLE_USER, ROLE_ADMIN" />
			</security:user-service>
			-->
		</security:authentication-provider>
	</security:authentication-manager>
	
	<bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
 
		<property name="driverClassName" value="org.postgresql.Driver" />
		<property name="url" value="jdbc:postgresql://dev-pubman.mpdl.mpg.de:5432/doxi" />
		<property name="username" value="postgres" />
		<property name="password" value="postgres" />
	</bean>
	
	<bean id="doxiJdbcUserService" class="de.mpg.mpdl.doi.security.spring.DoxiUserDetailService">
        <property name="dataSource" ref="dataSource"/>
        <property name="enableAuthorities" value="true"/>
        
        <property name="usersByUsernameQuery">
            <value>select username,password,enabled,email,prefix from users where username = ?</value>
        </property>
   </bean>
</beans>